Let's play a game! Human proper noun (aka name), animal type or MD5 hash?

Data from:

* http://www.cs.cmu.edu/afs/cs/project/ai-repository/ai/areas/nlp/corpora/names/female.txt
* http://www.cs.cmu.edu/afs/cs/project/ai-repository/ai/areas/nlp/corpora/names/male.txt
* https://simple.wikipedia.org/wiki/List_of_dog_breeds

(note I didn't gender the world, it's just like that right now)

In [86]:
import hashlib
import pandas

from sklearn.utils import shuffle

In [80]:
names1 = open('../data/female.txt').readlines()
names2 = open('../data/male.txt').readlines()
all_names = names1 + names2
print(len(all_names))

7956

In [81]:
name_list = [(name.strip(), 'name') for name in all_names[6:]]
df_names = pandas.DataFrame(columns=['label', 'type'], data=name_list)
df.head()

     label  type
0  Abagael  name
1  Abagail  name
2     Abbe  name
3    Abbey  name
4     Abbi  name

In [79]:
hashes = [(hashlib.md5(name.encode('utf-8')).hexdigest(), 'md5') for name in all_names]    
df_hashes = pandas.DataFrame(columns=['label', 'type'], data=hashes)
df_hashes.head()

                              label type
0  55fb38191f02553c00b6291312c854ca  md5
1  36947f7a57cab8d8ac4ac8dce434a7be  md5
2  172110b4bd94dd5d0464264b41df3763  md5
3  58b310333e7b79ec00ca7e8484da0cc4  md5
4  1d9c2aef6304ad1c84c545191b9d4340  md5

In [83]:
animals = open('../data/dog_breeds.txt').readlines()
animals = [(animal.strip(), 'animal') for animal in animals]
df_animals = pandas.DataFrame(columns=['label', 'type'], data=animals)
df_animals.head()

              label    type
0     Affenpinscher  animal
1      Afghan Hound  animal
2         Africanis  animal
3              Aidi  animal
4  Airedale Terrier  animal

In [89]:
all_things = pandas.concat([df_names, df_hashes, df_animals])
all_things = shuffle(all_things)
all_things.head()

                                 label  type
700                             Callie  name
75                               Ailey  name
6325  09f7185815f53954e4dab82826fac834   md5
7806  1219410060dbef781cb1cf7f72ff1206   md5
7707                           Vassily  name